<link rel="stylesheet" href="~/css/searchingUser.css" />

<!-- Pop-up di caricamento -->
<div class="loading-popup" id="loadingPopup">
    <div class="loading-box">
        <div class="loading-box-header">
            <i class="btn-close"></i>
        </div>
        <div class="loading-spinner"></div>
        <p>Stiamo cercando un altro utente...</p>
    </div>
</div>