<!-- Pop-up di caricamento -->
<div class="loading-popup" id="loadingPopup">
    <div class="loading-box">
        <div class="loading-spinner"></div>
        <i class="btn-close red" style="float:right"></i>
        <p>Stiamo cercando un altro utente...</p>
    </div>
</div>