<link rel="stylesheet" href="~/css/home.css" />
<script src="~/js/login.js"></script>

<div id="popup" class="popup username">
    <div class="popup-content">
        <h2>Benvenuto su OscarChatPlatform!</h2>
        <p>Scegli un'opzione:</p>
        <button class="continue-btn" id="Continua">Continua come ospite</button>
    </div>
</div>

@section Scripts {
    <script>
        const CREATE_GUEST_URL = "@Url.Action("CreateGuestUser", "Home")";
    </script>
}
